<DOCTYPE html>
    <html>
        <head>
            <style>
                p {
                    color: white;
                }
                li {
                    color: silver;
                }

            </style>
        </head>
        <body>
            {% extends 'darbiniai_app/base.html' %}

{% block content %}
<br><br><br><br><br><br><br>

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">Register</button>
        <input type="hidden" name="next" value="{% url 'darbiniai_app:index' %}" />
    </form>

    {% endblock content %}
        </body>
    </html>
