<DOCTYPE! html>
    <html>
<head>

   <link rel="stylesheet"  href="main.css">
<title>Y9 Gaming Website</title>    
    </head>
<body>
    <p>
    <div class="Main_header">
        
        
    <p> <div class="Header_links">
                <a href="{% url 'darbiniai_app:index' %}">
                    <div class="Links_text">Home </div></a> </div> </p>
    <p> <div class="Header_links">
                
    <a href="{% url 'darbiniai_app:leaderboards' %}"><div class="Links_text">Leaderboards</div> </a></div></p>

    {% if user.is_authenticated %}
       <p> <div class="Header_links">
                 <a href="{% url 'darbiniai_app:my_entries' %}">
                     <div class="Links_text">My entries </div></a> </div>
       <p> <div class="Header_links">
                 <a href="{% url 'darbiniai_app:account' %}">
                     <div class="Links_text">{{ user.username }} </div></a> </div>
       <p> <div class="Header_links">
                 <a href="{% url 'darbiniai_app:library' %}">
                     <div class="Links_text">Game library </div></a> </div> 

        {% if user.is_superuser or user.is_admin %}
       <p> <div class="Header_links">
            <a href="{% url 'darbiniai_app:admin:index' %}">
                <div class="Links_text">Admin site </div></a> </div>
        {% endif %}
        <p> <div class="Header_links_2">
        <a href="{% url 'users:logout' %}">
            <div class="Links_text">Log out </div></a></div></p>
    {% else  %}
        <p> <div class="Header_links_2">
            <a href="{% url 'users:register' %}"> 
                    <div class="Links_text"> Register </div> </a></div></p>
    <p> <div class="Header_links_2">
            <a href="{% url 'users:login' %}">
                    <div class="Links_text">Login </div></a></div></p>
    {% endif %}
</p>
</body>
</html>

{%block content%}{% endblock content %}
