{% extends "darbiniai_app/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        
    </head>
<body>

   
 <div class="title_navigator">
    <div class="main_web_title">
            <p>Change password for {{ user.username }}:</p>
        </div>
    </div>

     <div class="login_main">
    <div class="login_table">
        
    <form action="{% url 'darbiniai_app:change_password' %}" method ='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="login_button">
            <p class="login_b" ><a class="login_text"><button name="submit">Change password</button></a></p>
        </div>
        
    </form>
         </div>
</div>

</body>
</html>

{% endblock content %}
