
<!DOCTYPE html>
<html>
<head>
    <style>
        p {
            font-size: 1.6em;
            font-family: cursive;
        }
    </style>
</head>
<body>
    {% extends "darbiniai_app/base.html" %}

{% block content %}
<br><br><br><br><br>
    <p>Delete entry?</p>

    <form action="{% url 'darbiniai_app:delete_entry' entry_id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Delete</button>
    </form>
    <br>
    <form action="{% url 'darbiniai_app:entries' leaderboard %}" method='get'>
        <button type="submit">Cancel</button>
    </form>


{% endblock content %}
</body>
</html>
