<!DOCTYPE html> 
<html>
    <head>
        <style>
            p {
                font-family: cursive;
                font-size: 1.6em;
            }
        </style>
    </head>
    <body>
        {% extends "darbiniai_app/base.html" %}

        {% block content %}

        
        <br><br><br><br><br><br><br>
        
            <p>Delete account {{ user.username }}? (All of your entries will be lost forever)!</p>
        
            <form action="{% url 'darbiniai_app:delete_account' %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button name="submit">Confirm</button>
            </form>
            
            <form action="{% url 'darbiniai_app:account' %}" method='get'>
                <button type="submit">Return</button>
            </form>
        
        
        {% endblock content %}
    </body>
</html>
