<!DOCTYPE html>
<html>
<head>
    <style>

.delete {
    text-decoration: none;
}

div.main_header {
    width: 100%;
    height: 20%;
    border: 0px, double, black;
}
        
div.main_web_title {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 3em;
    letter-spacing: 0.3em;
    text-shadow: 0 0 0.5em;

}

.noentries {
    font-size: 1.6em;
    font-family: cursive;
}

li {
    font-size: 1.6em;
    font-family: cursive;
}

        
    </style>
</head>
<body>    



{% extends 'darbiniai_app/base.html' %}

{% block content %}

<div class="m_header"> 
    </div>
    
   <div class="main_web_title">
            
       <br><br><br><br>
          
<p class="leaderboard">Leaderboard: {{leaderboard}}</p>
<br>
<br>
<p class="entries">&emsp;entries:</p>
    
    </div>    
    
<p>
    <a class="entry" href="{% url 'darbiniai_app:LBnew_entry' leaderboard.gameName %}">Add new entry</a>
</p>

<ol type="1">
{% for entry in entries %}
    <li>
        <p>{{ entry.owner}}: {{entry.score}}
            <a>&emsp;</a>
        {% if user.is_superuser or user.is_admin %}
            <a href="{% url 'darbiniai_app:edit_entry' entry.id %}"> Edit</a> -

        {% endif %}
        
        {% if user == entry.owner or user.is_admin or user.is_superuser %}

            <a class="delete" href="{% url 'darbiniai_app:delete_entry' entry.id %}"> Delete</a>

        {% endif %}
        </p>
        
    </li>
{% empty %}
    <p class="noentries">There are no entries for this leaderboard yet.</p>
{% endfor %}
</ol>

{% endblock content %}
    
    
    </body>
</html>
