{% extends 'darbiniai_app/base.html' %}

{% block content %}

<p>Leaderboard: {{leaderboard}}</p>

<p>Entries:</p>
<p>
    <a href="{% url 'darbiniai_app:LBnew_entry' leaderboard.gameName %}">Add new entry</a>
</p>

<ol type="1">
{% for entry in entries %}
    <li>
        <p>{{ entry.owner}}: {{entry.score}}
        {% if user == entry.owner or user.is_superuser or user.is_admin %}
            <a href="{% url 'darbiniai_app:edit_entry' entry.id %}"> Edit</a> -

            <a href="{% url 'darbiniai_app:delete_entry' entry.id %}"> Delete</a>
        </p>
        {% endif %}
    </li>
{% empty %}
    <li>There are no entries for this leaderboard yet.</li>
{% endfor %}
</ol>

{% endblock content %}