<!DOCTYPE html>
<html>
    
        <head>
          <link = rel="stylesheet" a href="main.css">  
        </head>

<body>
    
{% extends "darbiniai_app/base.html" %}

{% block content %}


<!-- <a>{{ game.title }} <br> {{ game.icon }} <br> {{game.file}} </a> -->

<br>


        
    
<a href="{{ file.url }}"download><div class="footer">Download game</div></a>
    


<p>Leaderboard:</p>

<ol type = "1">
    {% for entry in top %}
        <li>
            <p>{{entry.owner}}: {{entry.score}}</p>
        </li>

        {% empty %}
            <p>There are no entries for this leaderboard yet.</p>
    
    </body>
    </html>

    {% endfor %}

</ol>




{% endblock content %}
