{% extends "darbiniai_app/base.html" %}

{% block content %}

<p>Media:</p>

<a href="{% url 'darbiniai_app:add_game' %}">Add a game</a>

<ol type="1">
    {% for game in games %}
        <li>
            <a href="{% url 'darbiniai_app:goto_game' game.title %}">{{ game.title}} - - - - {{game.icon}}
            
                <a href="{% url 'darbiniai_app:delete_game' game.title %}"> Delete</a>
            </a>
            
        </li>
    {% empty %}
        <li>There are no games yet.</li>
    {% endfor %}
    </ol>

{% endblock content %}