{% extends "darbiniai_app/base.html" %}

{% block content %}

<p>Games:</p>

{% if user.is_superuser or user.is_admin %}
<a href="{% url 'darbiniai_app:add_game' %}">Add a game</a>
{% endif %}

<ul>
    {% for game in games %}
        <li>
            <a href="{% url 'darbiniai_app:goto_game' game.title %}">{{ game.title}}
            
                {% if user.is_superuser or user.is_admin %}
                <a href="{% url 'darbiniai_app:delete_game' game.title %}"> Delete</a>
                {% endif %}
            </a>
            
        </li>
    {% empty %}
        <li>There are no games yet.</li>
    {% endfor %}
</ul>

{% endblock content %}